<footer class="bg-dark text-white">
  <div class="container">
    <div class="row d-flex justify-content-center importante py-5">
      <h3 class="text-white titulo-importante text-center">Eric Schmidt</h3>
      <p class="text-center">“Bitcoin es un logro criptográfico notable y
        la capacidad de crear algo que no es duplicable
        en el mundo digital tiene un enorme valor”</p>
      <p class="text-center">“Bitcoin realmente tiene el equilibrio y los incentivos correctos,
         y es por eso que está comenzando a despegar”</p>
  </div>
  </div>
<hr>
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <div class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </div>
  </div>
  <!-- Copyright -->
  <div class="copy p-3 text-center">
    © 2022 Copyright: <a class="text-white text-center" href="#">Restaurante Olimpo</a>
  </div>
</footer>
