<app-header></app-header>

<!-- <div class="container">
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-secondary">Secondary</button>
    </div>
  </div>
</div> -->

<div class="container py-5">
  <div class="row">
    <div class="container pt-5">
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Simbolo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Taza de cambio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Sit</td>
            <td>Amet</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm px-3">
                <i class="fas fa-times"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Adipisicing</td>
            <td>Elit</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm px-3">
                <i class="fas fa-times"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Hic</td>
            <td>Fugiat</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm px-3">
                <i class="fas fa-times"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
